/* Main styling for the Cuisine Detail Page */
.cuisine-detail-page {
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.cuisine-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Flex styling for different screen sizes */
.cuisine-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the cards */
    gap: 20px; /* Space between cards */
}

.cuisine-recipe-card {
    width: 320px; /* Default card width */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: white;
    position: relative;
}

.cuisine-recipe-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.cuisine-recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.cuisine-recipe-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #555;
}

/* .wishlist-heart-icon1 {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.wishlist-heart-icon1.active {
    color: red;
    background-color: rgba(255, 0, 0, 0.5);
  } */

  .wishlist-heart-icon1 {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .wishlist-heart-icon1.active {
    color: red;
    background-color: rgba(255, 0, 0, 0.5);
  }



.cuisine-loading,
.cuisine-error,
.cuisine-no-data {
    font-size: 1.2em;
    color: #666;
}

/* Responsive styling */
@media (max-width: 1440px) {
    .cuisine-details .cuisine-recipe-card {
        width: 22% !important; /* 4 cards in a row */
        flex-basis: 22% !important;
    }
}

@media (max-width: 1024px) {
    .cuisine-details .cuisine-recipe-card {
        width: 30% !important; /* 3 cards in a row */
     
    }
}

@media (max-width: 768px) {
    .cuisine-details .cuisine-recipe-card {
        width: 45% !important; /* 2 cards in a row */
        flex-basis: 45% !important;
    }
}

@media (max-width: 480px) {
    .cuisine-details .cuisine-recipe-card {
        width: 100% !important; /* 1 card in a row for small screens */
        flex-basis: 100% !important;
    }
}
